body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f1faee;
}

h1 {
    background-color: #e63946;
    color: #f1faee;
    width: 400px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

p {
    line-height: 1.7em;
    margin: 50px 80px;
    color: #1d3557;
    font-size: 1.2em;
}

